pydub==0.25.1
pyannote.audio==3.1.1
python-dotenv~=1.0.1
transformers~=4.39.3
google-generativeai==0.4.0
google-api-python-client==2.121.0
requests~=2.31.0
Flask~=3.0.0
accelerate
openai==1.13.3
sqlalchemy~=2.0.29
psycopg2
kinde-python-sdk
Flask-Cors
Flask-Caching==2.3.0
PyJWT~=2.8.0
Werkzeug~=3.0.2
torch~=2.2.2