
.sound-clips button img {
    width: 25px;
}

.recording-actions {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.center{
    text-align: center;
}

#invalid-helper{
 color:#D93526
}

.icon {
    font-size: 1.5em;
}