body {
    margin: 0;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

h1 {
    height: 4em;
    padding: 0;
    margin: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-weight: 300;
}

.wrapper {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

button {
    font-size: 1rem;
    height: 55px;
    width: 55px;
    background: #fff;
    text-align: center;
    color: white;
    transition: all 0.2s;
    border: 3px solid black;
    border-radius: 50%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

button .circle {
    height: 35px;
    width: 35px;
    background-color: #f00;
    border-radius: 50%;
}

button .square {
    height: 28px;
    width: 28px;
    background-color: #f00;
    border-radius: 3px;
}


/* Make the clips use as much space as possible, and
   * also show a scrollbar when there are too many clips to show
   * in the available space */
.sound-clips {
    flex: 1;
    overflow: auto;
}

.sound-clips>div {
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    width: 500px;
}

.sound-clips button {
    background: none;
    border: none;
    width: 25px;
}

.sound-clips button img {
    width: 25px;
}

audio {
    width: 100%;
    display: block;
}

.audioname {
    width: 50%;
}

button.delete {
    color: #f00;
    padding: 0.5rem 0.75rem;
    font-size: 0.8rem;
    border: none;
}

.main-controls {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 500px;
}

.btncontainer {
    height: 8em;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-controls-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}